.staff-ivao-branding-logo {max-width:3vh;height:auto;padding-top:0.5vh;}
.staff-default-profile-image {padding-top:2.5vh;padding-left:2.5vh; padding-right:2.5vh;}
.staff-on-trial {font-size:1vh;padding-left:40%;padding-top:1vh;}
.mailto {padding-bottom: 1vh;}