{% extends "base.html" %}
{% block activation-sent %}

<div class="container">
    <div class="row" style="margin-top:10vh;">
        <div class="card col s12 m12 l12 xl12" style="padding:2vh;">
            <h5><i>Almost there...</i></h5>
            <p>In order to complete your registration, we have sent a message to the e-mail address you provided in the <b>Registration Form</b>.</p>
            <p>You can complete your registration by clicking on the link in your e-mail message.</p>
            <p>The email message may also be in your <b>Junk Email</b> box. Please check it also.</p>
            <p><b>You have 24 hours to validate your e-mail</b>, then you will need to register again.</p>
        </div>
    </div>
</div>
{% endblock activation-sent %}