{% extends "dashboard.html" %}

{% block confirm_account_delete %}

<div class="card hoverable" style="padding:2vh;">
<h5>Confirm Account Deletion</h5>
<p>You are about to delete your account.</p>
<p>Are you sure you want to delete your account? This action cannot be undone.</p>

<form method="post" action="{% url 'delete_account_confirmed' %}" onsubmit="return confirm('Are you sure you want to delete your account?');">
    {% csrf_token %}
    <button class="btn waves-effect waves-light red white-text" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
    </button>
</form>
</div>

{% endblock confirm_account_delete %}