{% extends "base.html" %}
{% load materializecss %}

{% block password_reset %}
<div class="container">
    <div class="row" style="padding-top:2vh;">
        <div class="card col s12 m12 l6 xl6 offset-l3 offset-xl3" style="padding:2vh;">
            
            <h5>Request Password Reset</h5>
            Please us send your e-mail address with the form below. 
            <p>Then you will receive an e-mail with a link to change your password.</p>
            <form action="" method="post">
                {% csrf_token %}
                {{form|materializecss}}
                <div class="right-align">
                <button type="submit" class="orange btn waves-effect waves-light">SEND
                    <i class="material-icons right">send</i>
                </button>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock password_reset %}