{% extends "base.html" %}

{% block password_reset_success %}

<div class="container">
    <div class="row" style="padding-top:10vh;">
        <div class="card col s12 m12 l4 xl4 offset-l4 offset-xl4" style="padding:2vh;">

            <h5>About Your Request</h5>
            <p>We have received your password change request and sent you an e-mail regarding this matter.</p>
            <p>If the e-mail address you have provided is registered in our system and belongs to you, our message will reach you very shortly.</p>
            <p>You can set your new password by following the instructions in this e-mail message.</p>
            <p>If you cannot find the e-mail message, please check your "Junk E-mail" box.</p>
            <p>- Skylink Team</p>

        </div>
    </div>
</div>


{% endblock password_reset_success %}




