{% extends "base.html" %}
{% load materializecss %}

{% block password_reset_confirm %}
<div class="container">
    <div class="row" style="padding-top:10vh;">
        <div class="card col s12 m12 l4 xl4 offset-l4 offset-xl4" style="padding:2vh;">

            <h5>Reset Your Password</h5>
            <p>Now, you can set your new password using the form below.</p>
            <form action="" method="post">
                {% csrf_token %}
                {{form|materializecss}}
                <div class="right-align">
                    <button type="submit" class="btn waves-effect waves-light orange lighten-1">RESET PASSWORD
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock password_reset_confirm %}


